.venv
.DS_Store
*.log
**/__pycache__/
**/*.cache

dataset/**/*.jpg
dataset/_unused
dataset_street_signs/
dataset_left_right/
merged_dataset/

docs/*
etc/*
models/*
runs/
!models/best_s_adv.pt

robots/etc

# unused files
dataset/test.json
dataset/train.json